header {
  background-color: var(--background-header-main-button);
}

.background-main-portfolio {
  background-color: var(--background-header-main-button);
}

.footer-background {
  background-color: var(--background-footer);
}

button {
  background-color: var(--background-header-main-button);
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text-font);
}

.background-index-button {
  background-color: var(--background-footer);
}

.background-team {
  background: var(--background-page);
}

.background-team-names {
  background-color: var(--address-footer-link-button-focus);
}

.webstudio-font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.web-part-font {
  color: var(--menu-links-link-button-hover);
}

.menu-links-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--menu-links-link-button-hover);
  text-decoration: none;
}

.menu-links-black {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-font);
  text-decoration: none;
}

.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--subtitles-contacts);
  text-decoration: none;
}

.pic-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.pic-subtitle {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
}

.address-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--address-footer-link-button-focus);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  font-style: normal;
  color: var(--mail-footer-phone-footer);
}

.phone-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  font-style: normal;
  color: var(--mail-footer-phone-footer);
}

.link-button:hover {
  color: var(--menu-links-link-button-hover);
}

.link-button:focus {
  color: var(--address-footer-link-button-focus);
  background-color: var(--menu-links-link-button-hover);
}

:root {
  --subtitles-contacts: #757575;
  --background-header-main-button: #e5e5e5;
  --background-footer: #2f303a;
  --menu-links-link-button-hover: #2196f3;
  --address-footer-link-button-focus: #ffffff;
  --mail-footer-phone-footer: rgba(255, 255, 255, 0.6);
  --text-font: #212121;
  --background-page: #f5f4fa;
}

.title-index {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--address-footer-link-button-focus);
}

.index-button {
  background: var(--menu-links-link-button-hover);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--address-footer-link-button-focus);
}

.lorem-ipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-font);
}

.text-lorem-ipsum {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
}

.name-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
}

.name-job {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
  background: var(--background-page);
}
